<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="mpww.helper.domain.user.model.dao.UserDao">
    <insert id="signUp" parameterType="User">
    INSERT INTO helper.user(id,password,nickname,birthdate,email,gym_name,sex)
    VALUES (#{id},#{password},#{nickname},#{birthDate},#{email},#{gymName},#{sex})
    </insert>

    <select id="login" parameterType="User" resultType="User">
        SELECT id, nickname, gym_name
        FROM user WHERE id = #{id} AND password = #{password}
    </select>

    <select id="existsByUserId" parameterType="String" resultType="boolean">
        SELECT CASE WHEN (SELECT COUNT(*) FROM user WHERE id = #{id}) > 0
                        THEN TRUE ELSE FALSE END AS user_exists;
    </select>

    <select id="existsByEmail" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM user
        WHERE email = #{email}
    </select>

    <insert id="saveCertificationInfo" parameterType="CertificationInfo">
        INSERT INTO certification_info (user_id, email, certification_number)
        VALUES (#{id}, #{email}, #{certificationNumber})
    </insert>

    <select id="emailVerificationCodeIsTrue" parameterType="CertificationInfo" resultType="boolean">
         SELECT CASE WHEN (SELECT COUNT(*) FROM certification_info
                           WHERE email = #{email} AND user_id = #{id} AND certification_number = #{certificationNumber} ) >0
         THEN TRUE ELSE FALSE END
    </select>

    <insert id="snsLogin" parameterType="SocialUser">
        INSERT INTO social_user(id,password,nickname,email)
        VALUES (#{id},#{password},#{nickName},#{email})

    </insert>
</mapper>
